# Dataset folders
Data/cifar-10-batches-py/
data/raw/
data/processed/
data/*.tar.gz


# Model checkpoints
models/*.pt
models/*.h5
models/*.ckpt
models/*.pth

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env
venv/
env/
*.egg-info/

# Temporary files
*.tmp
*.swp
*.DS_Store

# IDE / editor specific
.vscode/
.idea/

# images
*.jpg
*.png
*.jpeg

# mlflow
mlruns/

# dockerhub image name
full_image_name.txt

# Tree structure for - README.md
structure.txt